/* ------- Reset CSS ------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture {
    display: block;
    width: 100%;
    height: 100%;
}

input,
button,
textarea,
select {
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    outline: none;
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

:root {
    color-scheme: dark;
}

/* ------- Fonts -------*/
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.google-sans-code {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* ------ Flexbox goes brrrrrrrrr ------- */
.flex {
    display: flex;
}

/* ------- Main ------- */
/* ------ Body ------- */
body,
html {
    height: 100%;
    /* To make the background as desired */
    overflow: hidden;
    font-size: 14px;
    color: #FEFCFA;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    background: linear-gradient(35deg, #FEFCFA 50%, #151718 50.1%);
}

.container {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Logo */
.logo {
    width: 70px;
    height: auto;
}

/* Password box */
#password-box {
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: #1E2226;
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, .3);
    border-radius: 6px;
    padding: 15px 30px;
    /* justify-content: space-between; */
}

#password-box-title {
    gap: 25px;
    align-items: flex-start;
}

/* Title */
#password-box-title h1 {
    margin-top: 10px;
    color: #FEFCFA;
}

#password-box-title h1 span {
    font-weight: 700;
    font-style: normal;
}

/* Length input */
#password-box-input {
    margin: 16px 0;
    font-size: 12px;
}

#password-box-input input {
    border-bottom: 1px solid #b1b1b1;
    width: 200px;
    padding: 5px;
    font-size: 14px;
}

/* Password Generate button */
#password-generate {
    width: 100%;
    display: flex;
}

#btn {
    font-size: 16px;
    letter-spacing: 1px;
    color: #151718;
    background-color: #FEFCFA;
    padding: 10px 20px;
    flex: 1;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s ease;
}

#btn:hover {
    background-color: #838383;
    transition: .3s ease;
}

/* Password output */
#password-output {
    flex-direction: column;
    margin: 30px 0;
    gap: 10px;
}

.password-output-render {
    gap: 20px;
    align-items: center;
}

.password-output-render img {
    width: 25px;
    height: 25px;
}

.low-opacity {
    opacity: .5;
}

#password-one,
#password-two {
    padding-bottom: 1px;
    border-bottom: 1px solid;
    width: 80%;
}
